fastapi==0.95.0
uvicorn==0.21.1
starlette==0.26.1
pydantic==1.10.7
elasticsearch==7.17.0
elasticsearch-dsl==7.4.0
scrapy==2.6.1
pyopenssl==22.0.0
cryptography==38.0.4
httpx==0.23.3
parsel==1.7.0
loguru==0.6.0
pandas==1.4.4
pathlib==1.0.1
urllib3==1.26.11
celery==5.2.7
python-Levenshtein==0.20.9
scrapeops-scrapy-proxy-sdk==1.0
fuzzywuzzy==0.18.0
typing==3.7.4.3
itertools==
logger==1.4
redis==4.5.4
selenium==4.8.3
urllib3==1.26.11
beautifulsoup4==4.8.2
scrapy_splash==0.9.0